@tailwind base;
@tailwind components;
@tailwind utilities;

/* Comfortaa */
@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
}

/* HK Grotesk (exemple pour le Regular et Bold) */
@font-face {
    font-family: 'HK Grotesk';
    src: url('fonts/hk-grotesk/HKGrotesk-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HK Grotesk';
    src: url('fonts/hk-grotesk/HKGrotesk-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* TT Milks Script (exemple pour le Regular et Bold) */
@font-face {
    font-family: 'TT Milks Script';
    src: url('fonts/tt-milks-script/TT Milks Script Trial Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TT Milks Script';
    src: url('fonts/tt-milks-script/TT Milks Script Trial Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
